<html>
    <head>
        <title>Login Page</title>
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
            $("#submit").click(function(){
            $.ajax({
                type:'POST',
                url:'/login',
                data:{username:$('input:text').val(),password:$('input:password').val()},
                success:function(){$('body').load('hello')},
                error:function(a){if(a.responseText==='用户名错误'){
                        $('io').empty()
                        b=a.responseText
                        $('io').eq(0).append(b)
                        $('io').eq(0).css('color','red')
                        }
                    else if(a.responseText==='密码错误'){  
                        $('io').empty()  
                        b=a.responseText   
                        $('io').eq(1).append(b)
                        $('io').eq(1).css('color','red')
                    }
                }
            })
            })
            $('#button').click(function(){
            $('body').load('registere')
            })
            $('#checkbox').click(function(){
            })
            })
        </script>
    </head>

    <body>
        <p>
            User Name:<br>
            <input id='text' type="text" name="username" /><io></io><br>
        </p>
        
        <p>
            Password:<br>
            <input id='password' type="password" name="password" /><io></io><br>
        </p>
        
        <p>
            <input id='checkbox' type="checkbox" name="remember_me"/>Remember Me
        </p>
        <p>
            <input id='submit' type="submit"  name='submit' value="submit">
            <input id='button' type="button"  name='registered' value="registered">
        </p>
    </body>
</html>     
